@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  font-family: Ubuntu, sans-serif;
  background-color: #2C2F33;
  color: white;
}

/* TODO: make it look pretty and shit */



.sitename {
  font-size: 75px;
  font-style: italic;
  color: #f7ff5e;
  text-align: center;
}

.siteflavour {
  font-style: italic;
  text-align: center;
}

.blogpost {
  padding-left: 100px;
}
